


Delegator Rewards Cover Panel

Unclaimed covers:
    function getPayoutAmount(address delegator, address collator)
        external
        view
        returns (uint256)

[Claim cover]
    function payOutCover(
        address payable[] calldata delegators,
        address[] calldata collators
	)

Advanced mode
Force liquidation (active only if )
function forceScheduleRevoke()


-----------------------------------



Collator Cover Panel


Member details:
getMember(address member)
            m.isMember,
            m.active,
            m.deposit,
            m.maxDefaulted,
            m.maxCoveredDelegation,
            m.lastPushedEra,
            m.noZeroPtsCoverAfterEra,
            m.noActiveSetCoverAfterEra
            
getErasCovered(address member) returns (uint128) 
getScheduledDecrease(address member) returns (uint128, uint256)
            scheduledDecreasesMap[member].era,
            scheduledDecreasesMap[member].amount

depositCover(address collator) payable

scheduleDecreaseCover(uint256 amount)

executeScheduled(address payable collator)

cancelDecreaseCover()

memberSetMaxCoveredDelegation(uint256 _max_covered)

memberSetCoverTypes(bool _noZeroPtsCoverAfterEra, bool _noActiveSetCoverAfterEra)

370315ce28812b5ed0f9767d920a57a1da17cc04d68ac87361c770f929acf48d

veto power - test
max % of balance stakeable (manager) - test
limit on total delegations per collator to limit payOutCover - test
check how malformatted json input can affect computations
change random revoke collator to lowest delegated collator


--------------------------------

delegate(
        address candidate,
        uint256 amount,
        uint256 candidateDelegationCount,
        uint256 delegatorDelegationCount
    ) 

    delegatorBondMore(address candidate, uint256 more)

    scheduleDelegatorBondLess(address candidate, uint256 less)

    scheduleDelegatorRevoke(address candidate)

    3,185,000

2,505,000